.gradual-spacing-container {
    gap: 0.15rem; 
  }
  
  .gradual-spacing-letter {
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
  }
  
 
  @media (min-width: 640px) {
    .gradual-spacing-letter {
      font-size: 20px; 
    }
  }
  
  