.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 16px;
  }
  
  .navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .navbar-buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-button {
    background: transparent;
    color: white;
    border: none;
    width: 82px;
    height: 39px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    cursor: pointer;
  }
  
  .navbar-button.primary {
    background: #FFFFFF1A;
    border-radius: 8px;
  }
  