@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");

html,
body {
  width: 100%;
  background-color: #111;
  color: white;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .small-screen {
    display: inline !important;
  }
  .large-screen {
    display: none !important;
  }
}
